*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* Common */
.clear{
    clear: both;
}

.row{
    margin:0 -8px ;
}

.col{
    float: left;
    padding: 0 8px;

}
.col-third{
    width: 33.33333%;
}
.col-haft{
    width: 50%;
}
.text-center{
    text-align: center !important;
}
.col-full{
    width: 100%;
}
.mt-16{
    margin-top: 16px !important; 
}
.mt-32{
    margin-top: 32px !important; 
}
.row2{
    display: flex;
}



/* Main */
#header{
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
   
}

#nav, .subnav{
    
    display: inline-block;
    
}
.subnav{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

#nav > li{
    display: inline-block;
}



#nav > li > a{
    line-height: 46px;
    text-decoration: none;
    color: #fff;
    padding: 0 24px;
    position: relative;
    display: block;
    text-transform: uppercase;
}


#nav > li:hover > a

{
    color: #000;
    background-color: #ccc;
    display: block;
}


#nav li:hover .subnav{
    display: block;}
    

#nav .subnav{
    display:none;
    position: absolute;}
#nav .subnav a{
    color: #000;
    text-decoration: none;
    
}

#nav .subnav li{
    list-style-type: none;
    min-width: 160px;
    line-height: 38px;
    padding-left: 16px;
    
}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}


#header .ti-search{
    color: #fff;
    float: right;
    line-height: 46px;
    padding: 0 21px;

}
#header .ti-search:hover{
    background-color: #f44336;
    cursor: pointer;
}




#slider{
    padding-top: 50%;
    margin-top: 46px;
    background: url(https://www.w3schools.com/w3images/la.jpg) top center / cover no-repeat;
    position: relative;

}

.text-background{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 1px #000;
}

.text-header{
    margin-bottom: 25px;
    font-weight: 500
}





#content .content-section{
   width: 800px;
   max-width: 100%;
   padding: 64px 16px 112px;
    margin-left: auto;
    margin-right: auto;
   
    
}

#content .content-heading{
    text-align: center;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 30px;
}

#content .contnet-sub-heading{
    text-align: center;
    padding-top: 25px;
    font-style: italic;
    opacity: 0.6;
    font-size: 15px;
    margin-bottom: 40px;
}

#content .text-section{
    line-height: 1.4;
    text-align: justify;
    font-size: 15px;
}

#content .member-list-img{
    float: left;
    width: 33.33333%;
    text-align: center;

}

#content .member-list{
    padding-top: 32px;
    padding-bottom: 130px;
}

#content .member-name{
    font-size: 15px;
    padding-bottom: 25px;
}

#content .member-img{
    width: 154px;
    border-radius: 4px;
}
#content .tour-date{
    margin-bottom: 16px;
}
#content .tour-section{
    background-color: #000;
    color: #fff;
    margin-top: 30px;
}
#content .tour-month {
    background-color: #fff;
    color: #757575;
    font-size: 15px;
   
}
#content .month{
    padding: 8px 16px;
    border-bottom: rgba(221, 221, 221 , 0.8) 1px solid;
    list-style-type: none;
}
#content .month-status{
    padding: 4px 8px;
    margin-left: 16px;
    background-color: #f44336;
    color: #fff;
}
#content .ticket-quantity{
    float: right;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    width: 21px;
    

}

/* Tour imagine */




#content .destination-img{
    width: 100%;
    display: block;
    
}

#content .destination-img:hover{
    opacity: 0.6;
}

#content .destination-infor{
    background-color: #fff;
    color: #000;
    padding: 16px 16px 20px;
    
    
}

#content .des-name{
    font-size: 15px;
    
    
}

#content .des-date{
  
    opacity: 0.6;
    margin: 15px 0 ;
    font-size: 15px;
}

#content .place-descib{
    
    margin: 15px 0 20px ;
    font-size: 15px;
    line-height: 1.4;
}

#content .buy-now{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 15px;
    display: inline-block;
   
}

#content .buy-now:hover{
    background-color: #ccc;
    color: #000;
}

/* contact */
.infor-required{
    font-size: 18px;
}
.infor-required a{
    opacity: 0.8;
}
.infor-required a:hover{
    opacity: 1;
}

.contact-input.i[class*=ti-]{
    width: 30px;
    display: inline-block;
}

.infor-required i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.infor-required{
    line-height: 1.5;
}

.input-place .form-control{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 4px;
    font-size: 15px;
}
.submit-btn{
    float: right;
    margin-top: 12px;
    padding: 9px 18px;
    margin-right: -5px;
    background-color: #000;
    color: #fff;
    /* border: solid; */
    border: none;
}

.submit-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.map{
    margin-top: 106px;
    width: 100%;
    opacity: 0.8;
    
}

/* footer */


#footer{
    padding: 64px 16px;
    background-color: rgba(0, 0, 0, 0.06);
    display: block;
}
.social-list{
    padding-bottom: 18px;
}

.copyright{
    font-size: 15px;
    opacity: 0.6;
}
.copyright a{
    color: #000;

}

.social-list a{
    color: #000;
    font-size: 24px;
    text-decoration: none;
    opacity: 0.6;
    
}
.social-list i:hover{
    opacity: 0.6;
}

/* mobile content */

#header .mobile-menu{
    color: #fff;
float: right;
line-height: 46px;
padding: 0 21px;
position: absolute;
top: 0;
right: 0;
display: none;
}

#header .mobile-menu:hover{
    background-color: #CCC;
    color: #000;
    
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    display: none
    ;
}

.modal__container{
    background-color: #fff;
    height: 469.28px;
    width: 90%;
    margin: auto;
}


.container__header{
        height: 129px;
    background-color: #009688;
    display: flex;
    color: #fff;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.container__body{
    height: 340.28px;
    padding: 0px 14px;
}
.ti-bag{

}

.container__header--title{
    margin-left: 16px;
    letter-spacing: 4px;
}






